<header id="header" class="alt">
	<% if session[:vendor_id] %>
		<h1 id="logo"><%= link_to "Dollar Bank Club", vendor_path(session[:vendor_id]) %></h1>
	<% else %>
		<h1 id="logo"><%= link_to "Dollar Bank Club", root_path %></h1>
	<% end %>
	
	<nav id="nav">
		<ul>			
			<% if session[:vendor_id] %>
				<li>
					<% if session[:vendor_id] && Vendor.find_by(id: session[:vendor_id]) %>
						<a style="color: black;"href="/pos">Point of Sale</a>
						<span style='color: black;'><%= Vendor.find_by(id: session[:vendor_id]).email %><span>
					<% end %>
				</li>
				<li><%= link_to "Developer", documentation_path, class: "button special" %></li>
				<li><%= link_to "Log out", logout_path, class: "button special" %></li>
			<% else %>
				<li><%= link_to "Developer", documentation_path, class: "button special" %></li>
				<li><a href="/login" class="button special">Log In</a></li>
				<li><%= link_to "Sign Up", new_vendor_path, class: "button special" %></li>
			<% end %>
		</ul>
	</nav>
</header>