<div class="container">
<h1>Bitcoin Exchange #index</h1>

<h1 class="bitcoin-header">Admin</h1>
<div>
	<div class="inline">
		<div class="account-balance-block">
			<h2 class="label-header">Vault Balance:</h2>
			<h4 class="bitcoin-info">		<% @accounts.each do |account| %>
			<li class="vault-balance">
				<%= account.balance.amount %> <%= account.balance.currency %>
			</li>
			<% end %>
			</h4>
		</div>
		<div class="account-balance-block">
			<h2 class="label-header">Primary Payment Method:</h2>
			<ul>
				<li class="bitcoin-info">Name: <%= @client.payment_methods.first.name %></li>
			</ul>
		</div>
	<div class="account-balance-block">
		<h2 class="label-header">Current Exchange Rate:</h2>
		<h4 class="bitcoin-info">$<%= @price.amount %> <%= @price.currency %>
		</h4>
	</div>
	</div>
	<div class="account-balance">
		<h2 class="label-header">Transactions</h2>
		<% @accounts.each do |account| %>

		<h3 class="bitcoin-info"><%= account.name %>:</h3>
		<ul class="bitcoin-info">
			<% account.transactions.each do |transaction| %>
				<li class="bitcoin-info"><%= transaction.amount.amount %> <%= transaction.amount.currency %>, <%= transaction.status %></li>
			<% end %>
		</ul>

		<% end %>

	</div>

</div>

<!-- <br>
<form action='/bitcoin_exchanges' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'></input>
	<input type='submit' value='Buy Bitcoin'>
</form>
 -->
 </div>