<h1>Bitcoin Exchange #index</h1>

<h2>Accounts</h2>
<ul><% @accounts.each do |account| %>
	<li><%= account.name %>: <%= account.balance.amount %> <%= account.balance.currency %></li>
<% end %></ul>

<h2>Primary Account:</h2><%= @client.primary_account.name %>

<h2>Primary Payment Method:</h2>
<ul>
	<li>Name: <%= @client.payment_methods.first.name %></li>
</ul>


<h2>Transactions</h2>
<% @accounts.each do |account| %>

<h3><%= account.name %>:</h3>
<ul>
	<% account.transactions.each do |transaction| %>
		<li><%= transaction.amount.amount %> <%= transaction.amount.currency %>, <%= transaction.status %></li>
	<% end %>
</ul>

<% end %>

Price per bitcoin: $<%= @price.amount %> <%= @price.currency %>

<!-- <br>
<form action='/bitcoin_exchanges' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'></input>
	<input type='submit' value='Buy Bitcoin'>
</form>
 -->