<%= render partial: "partials/header" %>
<div id="usersIndex">
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<header>
				<%= image_tag ('Launch hackathon.png'), {:width => "200"} %>
			</header>
			<p>All of your transactions <br>at a dollar, or less.
			<br />
			Much Wow.
			</p>
			<footer>
				<ul class="buttons vertical">
					<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
				</ul>
			</footer>
		</div>
	</section>

	<!-- Main -->
	<article id="main">
		<header class="special container">
			<span class="icon fa-bar-chart-o"></span>
			<h2>As this is the <strong>twenty-first</strong> century we thought 
			<br />
			it was time to start banking like it was.</h2>
			<p>Turns out banking was started during the time of the Romans, and not much has changed.
			<br />
			It first started off with loans while deposits and currency exchanging following close suite.
		</header>

		<!-- One -->
		<section class="wrapper style2 container special-alt">
			<div class="row 50%">
				<div class="8u 12u(narrower)">
					<header>
						<h2>Behold, Dollar Bank Club. We are doing card transactions for a dollar or 1% of your transaction, whichever is less.</h2>
					</header>
					<p>Through Blockchain technology we are able to do transactions at a fraction of the cost of these big banks and provide you a way for you to accept online payments without a bank account.</p>
					<footer>
						<ul class="buttons">
							<li><a href="#second" class="button fit scrolly">Find Out More</a></li>
						</ul>
					</footer>
				</div>
				<div class="4u 12u(narrower) important(narrower)">

					<ul class="featured-icons">
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
						<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>

					</ul>

				</div>
			</div>
		</section>

		<!-- Two -->
		<section id="second" class="wrapper style1 container special">
			<h1 class="large-font">How does it work?</h1>
			<div class="row">
				<div class="4u 12u(narrower)">
					<section>
						<%= image_tag ("credit.jpg"), { :width => "250" } %>
						<header>
							<h3>1. Customers Pay as normal</h3>
						</header>
						<p>This gives customers the regular interface that they are comfortable with, without having to pay in digital assets or cause any confusions.</p>
					</section>
				</div>

				<div class="4u 12u(narrower)">

					<section>
						<%= image_tag ("bitcoin.png"), { :width => "190" } %>
						<header>
							<h3>2. We Convert it to Digital Assets</h3>
						</header>
						<p>We deal with the card transactions and convert it directly into a digital asset. Receive your money with the lowest fees.</p>
					</section>
				</div>

				<div class="4u 12u(narrower)">
					<section>
						<%= image_tag ("vendor.jpg"), { :height => "125" } %>
						<header>
							<h3>3. Pay your vendors</h3>
						</header>
						<p>You're now able to pay vendors and suppliers, or transfer funds into your bank account. Currency issues is also a thing of the past.</p>
					</section>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section class="wrapper style3 container special">
			<header class="major">
				<h2>Are you Convinced yet?</h2>
			</header>

			<div class="row">
				<div class="6u 12u(narrower)">
					<section>
						<%= image_tag ('merchant.png'), {:class => "image featured", :width => '421', height: "186"} %>
						<header>
							<h3>Merchants</h3>
						</header>
						<p>A fast, easy and secure payment system that raises your bottom line and raises your revenue with a new way to reach your customers. You no longer have to haul dufflebags full of cash to pay the IRS or vendors.</p>
					</section>
				</div>

				<div class="6u 12u(narrower)">
					<section>
						<%= image_tag ('developer.jpg'), {:class => "image featured", :width => '421', height: "186"} %>
						<header>
							<h3>Developer</h3>
						</header>
						<p>We have made it as easy as possible for you to integrate our payment system. Simply folow the link to copy and paste our widget to your checkout, or integrate our POS system! You can log in and get started immediately.</p>
					</section>
				</div>
			</div>

			<div class="row">
				<div class="6u 12u(narrower)">
					<section>
						<%= image_tag ('customer.jpg'), {:class => "image featured", :width => '421', height: "186"} %>
						<header>
							<h3>Customer</h3>
						</header>
						<p>Allows have the exact payment and never have to worry about getting change or not having enough. It keeps it convenient to order online and just have your products dropped off discretely.</p>
					</section>
				</div>

				<div class="6u 12u(narrower)">
					<section>
						<%= image_tag ('suppliers.jpg'), {:class => "image featured", :width => '421', height: "186"} %>
						<header>
							<h3>Suppliers</h3>
						</header>
						<p>You will be able to accept payments from merchants and be unafraid with meeting them for the first time and always receive the exact cost. </p>
					</section>
				</div>
			</div>

			<footer class="major">
				<ul class="buttons">
					<li><a href="#" class="button">Get Started</a></li>
				</ul>
			</footer>
		</section>
	</article>


<!-- Scripts -->
	<script src="assets/jquery.min.js"></script>
	<script src="assets/jquery.dropotron.min.js"></script>
	<script src="assets/jquery.scrolly.min.js"></script>
	<script src="assets/jquery.scrollgress.min.js"></script>
	<script src="assets/skel.min.js"></script>
	<script src="assets/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/main.js"></script>