<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/app/assets/images/Launch%20Hackathon.png">
        <title>Launchhackathonrails</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <%= render partial: "partials/header" %>

        <%= yield %>
    </body>
</html>